html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

html,
body {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #464646;
  font-family: "Baloo Bhaijaan", Arial, Helvetica, cursive;
  font-size: 1em; }

.container {
  border-right: 1px solid #333;
  margin: 30px auto;
  width: calc(100% - 1em); }

.widget {
  padding-right: .5em; }
  .widget .widget-title {
    color: #666;
    font-size: 2em;
    margin: 0 0 40px;
    padding: 0;
    text-align: center; }
    .widget .widget-title h3 {
      font-weight: 400; }
    .widget .widget-title a {
      color: initial;
      float: right;
      font-size: .8em; }
  .widget .widget-content .widget-item {
    float: left;
    min-height: 162px;
    position: relative; }
    .widget .widget-content .widget-item p {
      display: table-cell;
      height: 160px;
      vertical-align: middle;
      width: 160px; }
    .widget .widget-content .widget-item--orange {
      background: #ebc251;
      position: relative;
      z-index: 10; }
    .widget .widget-content .widget-item__state {
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #333;
      height: 160px;
      text-align: center;
      width: 160px; }
    .widget .widget-content .widget-item--large {
      width: 40%; }
      .widget .widget-content .widget-item--large::after {
        background: #ebc251;
        content: "";
        height: 20px;
        right: 0;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 100%; }
      .widget .widget-content .widget-item--large .line {
        background: #ebc251;
        position: absolute;
        height: 70px;
        right: 0;
        top: 1px;
        width: 1px; }
    .widget .widget-content .widget-item--small {
      width: 35%; }
      .widget .widget-content .widget-item--small .widget-item__state,
      .widget .widget-content .widget-item--small p {
        height: 120px;
        width: 120px; }
      .widget .widget-content .widget-item--small::before {
        background: #ddd;
        content: "";
        height: 20px;
        left: 0;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 100%; }
      .widget .widget-content .widget-item--small .widget-item__state {
        background: #fff;
        margin: 20px auto 0;
        position: relative;
        z-index: 10; }
    .widget .widget-content .widget-item--medium {
      width: 25%; }
      .widget .widget-content .widget-item--medium .widget--right {
        float: right; }
      .widget .widget-content .widget-item--medium .widget-item__state {
        background: #fff;
        margin-top: 10px;
        position: relative;
        z-index: 10; }
      .widget .widget-content .widget-item--medium .widget-item__state,
      .widget .widget-content .widget-item--medium p {
        height: 140px;
        width: 140px; }
      .widget .widget-content .widget-item--medium::before {
        background: #eee;
        content: "";
        height: 20px;
        left: 0;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 100%; }
      .widget .widget-content .widget-item--medium .line {
        background: #b2a8d3;
        position: absolute;
        height: 70px;
        left: -1px;
        bottom: 1px;
        width: 1px; }
      .widget .widget-content .widget-item--medium span {
        left: -3px;
        position: absolute;
        bottom: -50px; }
  .widget .widget-expires {
    padding: 40px 0 0 20px;
    position: relative; }
    .widget .widget-expires div {
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #fff;
      border: 1px solid #333;
      display: inline-block;
      height: 55px;
      position: relative;
      text-align: center;
      width: 55px;
      z-index: 1; }
      .widget .widget-expires div b {
        font-weight: 400;
        line-height: 25px; }
    .widget .widget-expires p {
      display: inline-block;
      padding-left: 20px; }
    .widget .widget-expires span {
      position: absolute;
      left: 58px;
      top: 30px; }
      .widget .widget-expires span i {
        font-size: 2.5em; }

@media (max-width: 768px) {
  #stateWidget .widget-content .widget-item--medium,
  #stateWidget .widget-content .widget-item--small {
    width: 30%; } }
@media (max-width: 600px) {
  #stateWidget .widget {
    padding-right: .2em; }
    #stateWidget .widget-content .widget-item--large .widget-item__state,
    #stateWidget .widget-content .widget-item--large p {
      height: 100px;
      font-size: .8em;
      margin-top: 30px;
      width: 100px; }
    #stateWidget .widget-content .widget-item--medium span {
      font-size: .8em; }
    #stateWidget .widget-content .widget-item--medium .widget-item__state,
    #stateWidget .widget-content .widget-item--medium p {
      height: 80px;
      font-size: .8em;
      margin-top: 40px;
      width: 80px; }
    #stateWidget .widget-content .widget-item--small .widget-item__state,
    #stateWidget .widget-content .widget-item--small p {
      height: 60px;
      font-size: .8em;
      margin-top: 50px;
      width: 60px; }
    #stateWidget .widget-expires p, #stateWidget .widget-expires div b {
      font-size: .8em; } }
@media (max-width: 414px) {
  #stateWidget .widget {
    padding-right: .2em; }
    #stateWidget .widget-content .widget-item--large .widget-item__state,
    #stateWidget .widget-content .widget-item--large p {
      height: 80px;
      font-size: .7em;
      margin-top: 40px;
      width: 80px; }
    #stateWidget .widget-content .widget-item--medium span {
      bottom: -35px;
      font-size: .7em; }
    #stateWidget .widget-content .widget-item--medium .widget-item__state,
    #stateWidget .widget-content .widget-item--medium p {
      height: 60px;
      font-size: .7em;
      margin-top: 50px;
      width: 60px; }
    #stateWidget .widget-content .widget-item--small .widget-item__state,
    #stateWidget .widget-content .widget-item--small p {
      height: 40px;
      font-size: .7em;
      margin-top: 60px;
      width: 40px; }
    #stateWidget .widget-expires p, #stateWidget .widget-expires div b {
      font-size: .7em; } }

/*# sourceMappingURL=styles.css.map */
