@import '../../assets/css/reset';
@import '../../assets/css/variables';
@import '../../assets/css/mixins';

// Common styles
html,
body {
	-moz-text-size-adjust: 100%;	
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $text-body;
	font-family: $baloo;
	font-size: 1em;	
}

// Content page styles
.container {
	border-right: 1px solid $border-circle;
	margin: 30px auto;
	width: calc(100% - 1em);
}

.widget {
	padding-right: .5em;

	.widget-title {
		color: $title-widget;
		font-size: 2em;
		margin: 0 0 40px;
		padding: 0;
		text-align: center;
		
		h3 {
			font-weight: 400;
		}

		a {
			color: initial;
			float: right;
			font-size: .8em;
		}
	}

	.widget-content {
		.widget-item {
			float: left;
			min-height: 162px;
			position: relative;

			p {
				display: table-cell;
				height: 160px;
				vertical-align: middle;
				width: 160px;
			}

			&--orange {
				background: $orange-circle;
				position: relative;
				z-index: 10;
			}

			&__state {
				@include border-radius(50%);
				border: 1px solid $border-circle;				
				height: 160px;
				text-align: center;
				width: 160px;	
			}

			&--large {
				width: 40%;

				&::after {
					background: $orange-circle;
					content: "";
					height: 20px;
					right: 0;
					margin-top: -10px;
					position: absolute;
					top: 50%;
					width: 100%;
				}

				.line {
					background: $orange-circle;
					position: absolute;
					height: 70px;
					right: 0;
					top: 1px;
					width: 1px;
				}
			}

			&--small {
				width: 35%;

				.widget-item__state,
				p {
					height: 120px;
					width: 120px;
				}

				&::before {
					background: #ddd;
					content: "";
					height: 20px;
					left: 0;
					margin-top: -10px;
					position: absolute;
					top: 50%;
					width: 100%;
				}

				.widget-item__state {
					background: #fff;
					margin: 20px auto 0;
					position: relative;
					z-index: 10;
				}
			}

			&--medium {
				width: 25%;

				.widget--right {
					float: right;
				}

				.widget-item__state {
					background: #fff;
					margin-top: 10px;
					position: relative;
					z-index: 10;
				}

				.widget-item__state,
				p {
					height: 140px;
					width: 140px;
				}

				&::before {
					background: $bg-medium-circle;
					content: "";
					height: 20px;
					left: 0;
					margin-top: -10px;
					position: absolute;
					top: 50%;
					width: 100%;
				}
				
				.line {
					background: $bg-line;
					position: absolute;
					height: 70px;
					left: -1px;
					bottom: 1px;
					width: 1px;
				}

				span {
					left: -3px;
					position: absolute;
					bottom: -50px;
				}
			}
		}
	}

	.widget-expires {
		padding: 40px 0 0 20px;
		position: relative;

		div {
			@include border-radius(50%);
			background: #fff;
			border: 1px solid $border-circle;
			display: inline-block;
			height: 55px;
			position: relative;
			text-align: center;
			width: 55px;
			z-index: 1;

			b {
				font-weight: 400;
				line-height: 25px;
			}
		}

		p {
			display: inline-block;
			padding-left: 20px;
		}

		span {
			position: absolute;
			left: 58px;
			top: 30px;

			i {
				font-size: 2.5em;
			}
		}		
	}
}

// Small devices styles
@media ( max-width: 768px) {
	#stateWidget .widget-content .widget-item--medium,
	#stateWidget .widget-content .widget-item--small {
		width: 30%;
	}
}

@media ( max-width: 600px) {
	#stateWidget .widget {
		padding-right: .2em;

		&-content {
			.widget-item--large {
				.widget-item__state,
				p {
					height: 100px;
					font-size: .8em;
					margin-top: 30px;
					width: 100px;
				}
			}

			.widget-item--medium {
				span {
					font-size: .8em;
				}

				.widget-item__state,
				p {
					height: 80px;
					font-size: .8em;
					margin-top: 40px;
					width: 80px;
				}
			}

			.widget-item--small {
				.widget-item__state,
				p {
					height: 60px;
					font-size: .8em;
					margin-top: 50px;
					width: 60px;
				}
			}
		}

		&-expires p,
		&-expires div b {
			font-size: .8em;
		}
	}
}

@media ( max-width: 414px) {
	#stateWidget .widget {
		padding-right: .2em;

		&-content {
			.widget-item--large {
				.widget-item__state,
				p {
					height: 80px;
					font-size: .7em;
					margin-top: 40px;
					width: 80px;
				}
			}

			.widget-item--medium {
				span {
					bottom: -35px;
					font-size: .7em;
				}

				.widget-item__state,
				p {
					height: 60px;
					font-size: .7em;
					margin-top: 50px;
					width: 60px;
				}
			}

			.widget-item--small {
				.widget-item__state,
				p {
					height: 40px;
					font-size: .7em;
					margin-top: 60px;
					width: 40px;
				}
			}
		}

		&-expires p,
		&-expires div b {
			font-size: .7em;
		}
	}
}