// Common variables
$text-body: #464646;
$baloo: 'Baloo Bhaijaan', Arial, Helvetica, cursive;
$title-widget: #666;
$orange-circle: #ebc251;
$border-circle: #333;
$bg-small-circle: #ddd;
$bg-medium-circle: #eee;
$bg-line: #b2a8d3;